@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100dvw;
  overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "pixelify-sans";
    src: url("/fonts/pixelify-sans.ttf") format("truetype");
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: -3px -3px 0 rgba(0, 0, 0, 1);
  }
  .title-stroke {
    -webkit-text-stroke: 3px white;
  }
}
